<!DOCTYPE html>
<html>
    <head>
        <!-- https://zel0rd.tistory.com/68 -->
        <!-- <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}"> -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title> Project </title>
        <script></script>
    </head>
    <body>
        <div  class="main_top_area">
            <form> 
                <div> 
                    <!-- <form name="searchForm" method="POST">
                        <label class="label"> Search </label>
                        <input type="text" required name="searchBox" placeholder="Enter the keyword you want to search for. ">
                        <input type="submit" value=".go">
                    </form> -->
                </div>
            </form>
        </div>
    </body>
</html>

<!-- action="/result" -->