.main_top_area{
    margin: 20%;
    background-color: #ffaabb;
    border-radius: 5%;
    text-align: center;
}

/* #searchBox{
}

.searchContainer{
    width: 85%;
    height: 30%;
    margin: 0px auto;
    border-radius: 8%;
    background-color: #ffaaee;
}

.label{
    cursor: pointer;
    font-size: 15px;
} */